tebody{
	margin: 0;
}

header{
	background-color: orange;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: darkred;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 15px solid #9D0D04;
}