tebody{
	margin: 0;
}

header{
	background-color: orange;
	text-align: center;
}

header h1{
	color: darkred;
}

header img{
    border-radius: 170px;
    width: 300px;
    border: 10px solid #9D0D04;
}